body{
   overflow-x: hidden;
}

.full-width {
  max-width: 100%;
}

hr{
   border: solid 1px transparent;
   margin: 40px 0;
}

header, section{
   padding: 45px 0;

   h1{
      padding: 15px;
   }
   &#map{
      padding: 0;
      height: 80%;
      width: 100%;

      img{
         max-width : none;
      }
   }
   &#sponsors{
      a img{
         padding: 30px 0;
      }
   }
   &#joinTheAssociation{
      p{
         padding: 15px 0 5px 0;
      }
   }
}
*.uppercase{
   text-transform: uppercase;
}
footer > div > div{
   transition: background 200ms ease-in-out;
   -webkit-transition: background 200ms ease-in-out;
   -moz-transition: background 200ms ease-in-out;
   -o-transition: background 200ms ease-in-out;
   -ms-transition: background 200ms ease-in-out;
   h4{
      color: $white;
   }
   a{
      display: block;
      img{
         padding: 45px;
      }
   }
}
div#subFooter{
   background: $oil;
   p{
      color: $white;
      padding: 5px 0;
      margin: 0;
      font-size: 12px;
   }
}


@media #{$medium-up}{
   header, section{
      h1{
         padding: 30px 0 40px 0;
      }
   }
   footer > div > div{
      a{
         img{
            padding: 60px;
         }
      }
   }
}


@media #{$large-up}{
   header, section{
      padding: 120px 0;
   }
   footer > div > div{
      &:hover{
         background-color: scale-color($red, $lightness: -20%);
      }
      a{
         img{
            padding: 120px;
         }
      }
   }
}
