body{
   overflow-x: hidden;
}

.full-width {
  max-width: 100%;
}

hr{
   border: solid 1px transparent;
   margin: 40px 0;
}

header, section, footer{
   padding: 45px 0;

   h1{
      padding: 15px;
   }
   &#map{
      padding: 0;
      height: 100%;
      width: 100%;
      #onMapLogo a img{
         position: absolute;
         z-index: 999;
         top: 15px;
         left: 15px;
         width: 170px;
         height: auto;
      }
      #onMapMenu{
         position: absolute;
         z-index: 999;
         right: 15px;
      }
   }

   a img#header-logo{
      padding-top: 50px;
      width: 330px;
   }

   &#sponsors{
      a img{
         padding: 30px 0;
      }
   }
   &#joinTheAssociation{
      h2{
         color: $white;
      }
      p{
         padding: 15px 0 5px 0;
         color: $white;
      }
   }
}
*.uppercase{
   text-transform: uppercase;
}
footer{
   img#staFooterLogo{
      width: 200px !important;
      height: auto;
   }
   #socialLinks{
      padding-top: 78px;
      a{
         color: $white;
         transition: all 250ms ease-in-out;
         &:hover{
            border-bottom: solid 4px $white;
            color: $white;
         }
         span{
            font-size: 30px;
         }
      }
   }
   img.footerBadge{
      width: 75px;
      height: auto;
      padding-top: 44px;
   }
}
div#subFooter{
   p{
      color: $white;
      padding: 5px 0;
      margin: 0;
      font-size: 12px;
   }
}


@media #{$medium-up}{
   header, section{
      h1{
         padding: 30px 0 40px 0;
      }
      &#map{
         #onMapLogo a img{
            position: absolute;
            z-index: 999;
            top: 24px;
            left: 66px;
            width: auto;
            height: 50px !important;
         }
      }
      a img#header-logo{
         padding-top: 0;
      }
      #onMapMenu{
         right: 24px !important;
      }
   }
}


@media #{$large-up}{
   header, section{
      padding: 120px 0;
   }
   footer{
      padding: 60px 0 30px 0;
   }
}
