.modalForm{
   margin-top: 60px;
}

.reveal-modal{
   overflow: scroll;
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: 999999;
	box-shadow: none;
   border: none;
   border-radius: none;
   -webkit-border-radius: none;
   -moz-border-radius: none;
   -o-border-radius: none;
   -ms-border-radius: none;

	a.close-reveal-modal {
      color: $red;
		top: 1.3rem;
		right: 1.7rem;
		font-size: 3rem;
	}
	p{
		margin-top: 15px;
	}
}
.reveal-modal-bg{
   background: none;
}

@media #{$large-up}{
   .modalForm{
      margin-top: 90px;
   }
}
