body.modal-open {
    overflow: hidden;
}
.modalForm{
   padding-top: 60px;
}

.reveal-modal{
	box-shadow: none;
   border: none;
   border-radius: none;
   -webkit-border-radius: none;
   -moz-border-radius: none;
   -o-border-radius: none;
   -ms-border-radius: none;
   background: rgba(255,255,255,0.95);
	a.close-reveal-modal {
      color: $red;
		top: 1.3rem;
		right: 1.7rem;
		font-size: 3rem;
	}
	p{
		margin-top: 15px;
	}
}
